@import '../../shared/theme/_theme.scss';

.kanban-board-container {
  padding: 40px;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.board {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.column-container {
  min-width: 300px;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 10px;
  &[status="backlog"] {@include apply-task-color("backlog"); }
  &[status="todo"] {@include apply-task-color("todo"); }
  &[status="in-progress"] {@include apply-task-color("in-progress"); }
  &[status="done"] {@include apply-task-color("done"); }
  &[status="cancelled"] {@include apply-task-color("cancelled"); }
}

.task-list {
  min-height: 150px;
  display: block;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .task-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder {
  background: rgba(0, 0, 0, 0.05);
  min-height: 150px;
  margin-bottom: 8px;
}