<div class="kanban-board-container">
  <h2 class="title">Ship Board - Tasks to Done</h2>

  <div class="board" cdkDropListGroup>
    
    <div *ngFor="let column of boardColumns"
    class="column-container" [attr.status]="column.status">
      <h3>{{ column.name }}</h3>
      <div
        cdkDropList
        [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="onDrop($event)"
        class="task-list">
        
        <app-kanban-item 
          class="task-item" cdkDrag
          *ngFor="let item of column.tasks"
          [task]="item"
          (click)="onTaskClick(item)"
          >
          <div class="placeholder" *cdkDragPlaceholder></div>
        </app-kanban-item>
        
      </div>
    </div>

</div>